.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 20px;
  gap: 20px;
}

.pagination__link {
  padding: 8px;
  border: 1px solid #ccc;

  font-size: 20px;
  cursor: pointer;
}

.pagination__link--disabled {
  color: #ccc;
  cursor: default;
}

.pagination__link--active {
  background-color: #007bff;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  color: #fff;
}
